@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
@import "./reset.scss";
@import "./menus.scss";

@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

* {
  font-family: "Epilogue", sans-serif;
}
// body{
//   position: relative;
// }
.header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  align-items: center;
  position: relative;
  font-weight: 500;
  &_first {
    display: flex;
    padding: 5px;
    gap: 40px;
    align-items: center;
    &_buttons {
      cursor: pointer;
      display: flex;
      gap: 9px;
      color: $beauty-gray;
      @include mobile {
        display: none;
      }
      &:hover {
        background-color: #fff;
        color: $almost-black;
        & .down_arrow {
          opacity: inherit;
        }
      }
      & .down_arrow {
        opacity: 0;
      }
    }
  }
  &_second {
    display: flex;
    gap: 40px;  
    button {
      cursor: pointer;
      color: $beauty-gray;
      font-weight: 600;
      &:hover {
        background-color: #fff;
        color: $almost-black;
      }
    }
    .login {
      border: none;
      background: none;
      font-weight: 600; 
      @include mobile {
        display: none;
      }
    }
    .register {
      padding: 10px 20px;
      border-radius: 13px;
      border-color: $beauty-gray;
      background: none;
      &:hover {
        border-color: $almost-black;
      }
      @include mobile {
        display: none;
      }
    }
    .menu {
      display: none;
      @include mobile {
        border: none;
        background: none;
        display: block;
      }
    }
  }
}
// body{
//   position: relative;
// }
//padre de la imagen y el footer
.fullbody {
  display: flex;
  align-items: center;
  @include mobile {
    flex-direction: column;
    // width: 100%;
  }
}

.main {
  order: 2;
  width: 47%;
  height: 800px;
  display:flex;
  justify-content: flex-end;
  margin: 0px 60px 50px 0;
  @include mobile {
    order: 1;
    height: 330px;
    margin: 0;
    width: 100%;
  }
  &_figure {
    width: 100%;
    height: 800px;
    @include mobile {
      height: 100%;

    }
    & img {
      width: 100%;
      height: 800px;
      object-fit: contain;
      @include mobile {
        height: 100%;
        object-fit: fill;
      }
    }
    & .hero_desktop{
        @include mobile {
            display: none;
          }
    }
    & .hero_mobile {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
}
.footer {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 800px;
  margin: 0 8px 0 20px;
  width: 53%;
  gap: 20px;
  @include mobile {
    order: 2;
    height: 200px;
    gap: 0;
    margin: 0;
    width: 100%;

  }
  &_first {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    justify-content: space-between;
    height:70%;
    @include mobile {
      padding: 10px 15px;
      align-items: center;
      height: 100%;
    }
    & h2 {
      font-size: 6.4vw;
      text-align: start;
      @include mobile {
        font-size: 9vw;
        text-align: center; 
      }
    }
    button{
        width: 190px;
        border-radius: 20px;
        background-color: #000;
        color: #fff;
        font-size: 20px;
        padding: 20px;
        font-weight: bolder;
        cursor: pointer;
        &:hover {
          background-color: #fff;
          color: $almost-black;
        }
        @include mobile {
          display: block;
        }
      }
    span{
        color: $almost-gray;
        font-size: 1.5vw;
        text-align: start;
        line-height: 1.5;
        margin-right: 70px;
        @include mobile {
          font-size: 3.99vw;
          text-align: center;
          margin: 0;
          padding: 10px 0;
        }
    }

  }
  &_second{
    width: 45vw;
    @include mobile {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0px;
     }

    ul{
        display: flex;
        justify-content: space-between;
        @include mobile{
          margin: 0 10px 10px 10px;
        }
        li{
            list-style: none;
            
        }
        li img{
          @include mobile {
            width: 50px;
          }
        }
    }
  }
}


