@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
$almost-whire: hsl(0, 0%, 98%);
$almost-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);
$beauty-gray: #999999;
$background: #fafafa;
$border-register: #ababab;
$shadow-gradient: #e6e6e6;